{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="container">
    <h2>Finished Runs</h2>
    {% if run_list %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Preview</th>
                <th scope="col">Mask</th>
                <th scope="col">Histogram</th>
            </tr>
        </thead>
        {% for run in run_list %}

        <tbody>
            <tr>
                <th scope="row">{{ run.id }}</th>
                <td>
                    {{ run.created_at }}<br>
                    {{ run.trained_model}} <br>
                    {% if run.gold_particle_coordinates %}
                      <a href="{{ run.gold_particle_coordinates.url }}">Download Coordinates</a><br>
                    {% endif %}

                    <!--<a href="{{ run.gold_particle_coordinates6nm.url }}">6nm Coordinates</a>-->
                    {% if run.output_file %}
                      <a href="{{ run.output_file.url }}">Download Output zip file</a><br>
                    {% endif %}
                </td>
                <td><img src="/media/{{ run.analyzed_image }}" width="150"></td>
                <td>
                    {% if run.mask %}<img src="/media/{{ run.mask }}" width="150">{% endif %}</td>
                <td>{% if run.histogram_image %}<img src="{{ run.histogram_image.url }}" width="200">{% endif %}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% else %}
    <p>There are no completed runs.</p>
    {% endif %}
</div>
{% endblock %}
