{% extends 'GDapp/upload.html' %}
{% load static %}
{% block run %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<div class="media">
  <img class="mr-3" src="{% static 'zoolander.gif' %}">
  <div class="media-body">
    <div class='progress-wrapper'>
      <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
    </div>
    <div id="progress-bar-message">Waiting for progress to start...</div>
    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
    <script>
      // JQuery
      var progressUrl = "{% url 'celery_progress:task_status' task_id %}";

      function customResult(resultElement, result) {
        $(resultElement).append(
          ('<p> Result: <br>'
             + result)
        );
      }

      $(function () {
        CeleryProgressBar.initProgressBar(progressUrl, {
          onResult: customResult,
        })
      });
    </script>
    <a href="../../../media/GD_Output.zip" download>
      <button type="button"> Download</button>
    </a>
    <br><br>
    <a href="{% url 'image_upload' %}" class="btn btn-primary my-2">Upload another Image to GoldDigger</a>
  </div>
</div>
<br><br>
<div id="celery-result"></div>

{% endblock %}