{% extends 'GDapp/upload.html' %}
{% load static %}
{% block run %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<div class="media">
  <img class="mr-3" src="{% static 'zoolander.gif' %}">
  <div class="media-body">
    <a href="" class="btn btn-primary btn-md disabled" id="results-button">Download Results</a>
    <h5>Progress:</h5>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" id="progress-bar"
        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
        Progress
      </div>
    </div>
    <h5>Status:</h5>
    <p id="message_display"></p>
    <br>
    <br>

  </div>
</div>
<br><br>
<hr>
<h4 id="ResultsLabel"></h4>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <img id="analyzed-image-preview" src="" style="max-width:512px;">
    </div>
    <div class="col-sm">
      <img id="histogram-image-preview" src="" style="max-width:512px;">
    </div>
  </div>
</div>


<script>
  var pk = "{{ pk }}";
  console.log(pk)

  var chatSocket = new WebSocket(
    'ws://' + window.location.host +
    '/ws/run_gd/' + pk + '/');
  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    if (data['message'] != null) {
      const message = data['message'];
      console.log(message);
      document.querySelector('#message_display').innerHTML = (document.querySelector('#message_display').innerHTML + "<br>" + message);
    } else if (data['progress'] != null) {
      const progress = data['progress'];
      document.querySelector('#progress-bar').style.width = (progress + "%");
    } else if (data['finished'] != null) {
      console.log("Finished")
      document.querySelector('#progress-bar').innerHTML = ("Finished");
      document.querySelector('#ResultsLabel').innerHTML = ("Results");
      document.querySelector('#results-button').className = "btn btn-primary btn-md";
      document.querySelector('#results-button').setAttribute("href", data["results_url"]);
      document.querySelector('#analyzed-image-preview').setAttribute("src", data["analyzed_image_url"])
      document.querySelector('#histogram-image-preview').setAttribute("src", data["histogram_image_url"])
    }
  };
  chatSocket.onclose = function (e) {
    console.error('Analysis socket closed unexpectedly');
  };
</script>


{% endblock run %}