{% extends 'GDapp/base.html' %}
{% block body %}
{% load static %}
<section class="jumbotron text-center">
  <div class="container">
    {% block run %}
    <h1 class="jumbotron-heading">Upload a File</h1>
    <p class="lead text-muted">Requirements: Please upload 1 profile to analyze (the file name should contain no
      spaces).</p>
    <form method='post' enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <!--<input name="document" type='file'>-->
      <button type="submit">Run</button>
    </form>
    {% if url %}
    <p>Uploaded file: <a href="{{ url  }}">{{ url }}</a></p>
    <!--link doesn't work if the file has spaces in it-->
    {% endif %}

    {% endblock %}


  </div>
</section>

{% endblock %}