{% extends 'base.html' %}
{% block body %}
{% load static %}
<br>
  <div class="container">
    {% block run %}
    <script src={% static 'GDapp/js/jquery.js' %}></script>
    <script src={% static 'GDapp/js/jquery.ui.widget.js' %}></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src={% static 'GDapp/js/jquery.iframe-transport.js' %}></script>
    <!-- The basic File Upload plugin -->
    <script src={% static 'GDapp/js/jquery.fileupload.js' %}></script>
    <!-- Calculate md5 -->
    <script src={% static 'GDapp/js/spark-md5.js' %}></script>

    <h1 class="jumbotron-heading">Upload a File</h1>
    <p class="lead text-muted">Requirements: Please upload 1 profile to analyze</p>

    <div id="alert-box"></div>
    <div id="image-box"></div>
    <br>
    <form method='post' enctype="multipart/form-data" action="" id="upload-form">
      {% csrf_token %}
      {{form.as_p}}
      <!-- <input name="document" type='file'> -->

      <div class="custom-file">
        <p>Image file upload: </p>
        <input id="chunked_upload" type="file" name="the_file" class='form-control-file'>
        <label id="image-file-label" class="custom-file-label" for="chunked_upload">Select Image File</label>
      </div>

      <div class="custom-file">
        <p id="mask-title" class="not-visible">Mask file upload: </p>
        <input id="chunked_mask_upload" type="file" name="the_mask" class='form-control-file not-visible'>
        <label id="mask-file-label" class="custom-file-label not-visible" for="chunked_mask_upload">Select Mask File</label>
      </div>



      <script type="text/javascript">
        var md5 = "",
          csrf = $("input[name='csrfmiddlewaretoken']")[0].value,
          form_data = [{ "name": "csrfmiddlewaretoken", "value": csrf }]
        pk = 0;
        function calculate_md5(file, chunk_size) {
          var slice = File.prototype.slice || File.prototype.mozSlice || File.prototype.webkitSlice,
            chunks = chunks = Math.ceil(file.size / chunk_size),
            current_chunk = 0,
            spark = new SparkMD5.ArrayBuffer();
          function onload(e) {
            spark.append(e.target.result);  // append chunk
            current_chunk++;
            if (current_chunk < chunks) {
              read_next_chunk();
            } else {
              md5 = spark.end();
            }
          };
          function read_next_chunk() {
            var reader = new FileReader();
            reader.onload = onload;
            var start = current_chunk * chunk_size,
              end = Math.min(start + chunk_size, file.size);
            reader.readAsArrayBuffer(slice.call(file, start, end));
          };
          read_next_chunk();
        }
        $("#chunked_upload").fileupload({
          url: "{% url 'api_chunked_upload' %}",
          dataType: "json",
          maxChunkSize: 1000000, // Chunks of 1000 kB
          formData: form_data,
          add: function (e, data) { // Called before starting upload
            $("#messages").empty();
            // If this is the second file you're uploading we need to remove the
            // old upload_id and just keep the csrftoken (which is always first).
            form_data.splice(1);
            calculate_md5(data.files[0], 1000000);  // Again, chunks of 1000 kB
            data.submit();
          },
          chunkdone: function (e, data) { // Called after uploading each chunk
            console.log('image chunk done')
            if (form_data.length < 2) {
              form_data.push(
                { "name": "upload_id", "value": data.result.upload_id }
              );
            }
            //$("#messages").append($('<p>').text(JSON.stringify(data.result)));
            var progress = parseInt(data.loaded / data.total * 100.0, 10);
            $("#progress").text(Array(progress).join("=") + "> " + progress + "%");
          },
          done: function (e, data) { // Called when the file has completely uploaded
            $.ajax({
              type: "POST",
              url: "{% url 'api_chunked_upload_complete' %}",
              data: {
                csrfmiddlewaretoken: csrf,
                upload_id: data.result.upload_id,
                md5: md5
              },
              dataType: "json",
              success: function (data) {
                //return_dict = JSON.stringify(data)
                $("#messages").append($('<p>').text(data.message));
                document.getElementById("id_preloaded_pk").value = data.pk
                document.getElementById("run-btn").classList.remove('not-visible')
                document.getElementById("chunked_mask_upload").classList.remove('not-visible')
                document.getElementById("mask-file-label").classList.remove('not-visible')
                document.getElementById("mask-title").classList.remove('not-visible')
                document.getElementById("image-file-label").innerHTML = data.filename
                pk = data.pk
                console.log(pk)
              }
            });
          },
        });
      </script>


      <script type="text/javascript">
        //var md5 = "",
        //csrf = $("input[name='csrfmiddlewaretoken']")[0].value,
        //form_data = [{ "name": "csrfmiddlewaretoken", "value": csrf }];
        $("#chunked_mask_upload").fileupload({
          url: "{% url 'api_chunked_mask_upload' %}",
          dataType: "json",
          maxChunkSize: 1000000, // Chunks of 1000 kB
          formData: form_data,
          add: function (e, data) { // Called before starting upload
            $("#messages").empty();
            // If this is the second file you're uploading we need to remove the
            // old upload_id and just keep the csrftoken (which is always first).
            form_data.splice(1);
            calculate_md5(data.files[0], 1000000);  // Again, chunks of 1000 kB
            data.submit();
          },
          chunkdone: function (e, data) { // Called after uploading each chunk
            console.log('mask chunk done')
            if (form_data.length < 2) {
              form_data.push(
                { "name": "upload_id", "value": data.result.upload_id }
              );
            }
            //$("#messages").append($('<p>').text(JSON.stringify(data.result)));
            var progress = parseInt(data.loaded / data.total * 100.0, 10);
            $("#progress").text(Array(progress).join("=") + "> " + progress + "%");
          },
          done: function (e, data) { // Called when the file has completely uploaded
            $.ajax({
              type: "POST",
              url: "{% url 'api_chunked_mask_upload_complete' %}",
              data: {
                csrfmiddlewaretoken: csrf,
                upload_id: data.result.upload_id,
                md5: md5,
                pk: pk,
              },
              dataType: "json",
              success: function (data) {
                //return_dict = JSON.stringify(data)
                $("#messages").append($('<p>').text(data.message));
                document.getElementById("mask-file-label").innerHTML = data.filename

              }
            });
          },
        });
      </script>
      <p id="progress"></p>
      <div id="messages"></div>
      <button type="submit" id="run-btn" , class="btn btn-primary not-visible">Run</button>

    </form>
    <div id="progress-box" class="not-visible">Progress</div>


    {% endblock run %}

    {% endblock %}


  </div>
